.nowrap, .no-wrap-block {
  overflow: hidden;
  *overflow: visible;
  zoom: 1; }

.float-left, .left-with-gutter, .left-tiny-gutter, p.pinfloat {
  float: left; }

.float-right, .right-with-gutter {
  float: right; }

.clear {
  clear: both; }

.wd-180, .col-180 {
  width: 180px; }

.wd-206, .third-of-page, .third-col {
  width: 206px; }

.wd-220, .col-220 {
  width: 220px; }

.wd-250 {
  width: 250px; }

.wd-320, .half-of-page, .half-col {
  width: 320px; }

.wd-460, .sjsumap {
  width: 460px; }

.wd-660, .whole-page, .homepagequicklinks {
  width: 660px; }

/*
.top-gutter { margin-top: $gutter; }
.bottom-gutter { margin-bottom: $gutter; }
*/
.left-gutter, .right-with-gutter {
  margin-left: 20px; }

.right-gutter, .left-with-gutter {
  margin-right: 20px; }

.centered {
  margin-left: auto;
  margin-right: auto; }

/* Backwards Compatibility */
.pin-0, .pin-1, .pin-2, .pin-3, .pin-4, .pin-5, .pin-6, .pin-7, .pin-8, .pin-9, .pin-a, .pin-b, .pin-c, .pin-d, .pin-e, .pin-f, .pin-g, .pin-h, .pin-i, .pin-j, .pin-k, .pin-l, .pin-m, .pin-n, .pin-o, .pin-p, .pin-q, .pin-r, .pin-s, .pin-t, .pin-u, .pin-v, .pin-w, .pin-x, .pin-y, .pin-z, .pin {
  background: url(http://www.sjsu.edu/socialsciences/pics/buttons/pin_sprite_817x136.png) no-repeat;
  width: 21px;
  height: 34px; }

.pin-0 {
  background-position: 0px -34px; }

.pin-0.on {
  background-position: 0px 0px; }

.pin-0.hover {
  background-position: 0px -102px; }

.pin-0.on.hover {
  background-position: 0px -68px; }

.pin-1 {
  background-position: -21px -34px; }

.pin-1.on {
  background-position: -21px 0px; }

.pin-1.hover {
  background-position: -21px -102px; }

.pin-1.on.hover {
  background-position: -21px -68px; }

.pin-2 {
  background-position: -42px -34px; }

.pin-2.on {
  background-position: -42px 0px; }

.pin-2.hover {
  background-position: -42px -102px; }

.pin-2.on.hover {
  background-position: -42px -68px; }

.pin-3 {
  background-position: -63px -34px; }

.pin-3.on {
  background-position: -63px 0px; }

.pin-3.hover {
  background-position: -63px -102px; }

.pin-3.on.hover {
  background-position: -63px -68px; }

.pin-4 {
  background-position: -84px -34px; }

.pin-4.on {
  background-position: -84px 0px; }

.pin-4.hover {
  background-position: -84px -102px; }

.pin-4.on.hover {
  background-position: -84px -68px; }

.pin-5 {
  background-position: -105px -34px; }

.pin-5.on {
  background-position: -105px 0px; }

.pin-5.hover {
  background-position: -105px -102px; }

.pin-5.on.hover {
  background-position: -105px -68px; }

.pin-6 {
  background-position: -126px -34px; }

.pin-6.on {
  background-position: -126px 0px; }

.pin-6.hover {
  background-position: -126px -102px; }

.pin-6.on.hover {
  background-position: -126px -68px; }

.pin-7 {
  background-position: -147px -34px; }

.pin-7.on {
  background-position: -147px 0px; }

.pin-7.hover {
  background-position: -147px -102px; }

.pin-7.on.hover {
  background-position: -147px -68px; }

.pin-8 {
  background-position: -168px -34px; }

.pin-8.on {
  background-position: -168px 0px; }

.pin-8.hover {
  background-position: -168px -102px; }

.pin-8.on.hover {
  background-position: -168px -68px; }

.pin-9 {
  background-position: -189px -34px; }

.pin-9.on {
  background-position: -189px 0px; }

.pin-9.hover {
  background-position: -189px -102px; }

.pin-9.on.hover {
  background-position: -189px -68px; }

.pin-a {
  background-position: -210px -34px; }

.pin-a.on {
  background-position: -210px 0px; }

.pin-a.hover {
  background-position: -210px -102px; }

.pin-a.on.hover {
  background-position: -210px -68px; }

.pin-b {
  background-position: -231px -34px; }

.pin-b.on {
  background-position: -231px 0px; }

.pin-b.hover {
  background-position: -231px -102px; }

.pin-b.on.hover {
  background-position: -231px -68px; }

.pin-c {
  background-position: -252px -34px; }

.pin-c.on {
  background-position: -252px 0px; }

.pin-c.hover {
  background-position: -252px -102px; }

.pin-c.on.hover {
  background-position: -252px -68px; }

.pin-d {
  background-position: -273px -34px; }

.pin-d.on {
  background-position: -273px 0px; }

.pin-d.hover {
  background-position: -273px -102px; }

.pin-d.on.hover {
  background-position: -273px -68px; }

.pin-e {
  background-position: -294px -34px; }

.pin-e.on {
  background-position: -294px 0px; }

.pin-e.hover {
  background-position: -294px -102px; }

.pin-e.on.hover {
  background-position: -294px -68px; }

.pin-f {
  background-position: -315px -34px; }

.pin-f.on {
  background-position: -315px 0px; }

.pin-f.hover {
  background-position: -315px -102px; }

.pin-f.on.hover {
  background-position: -315px -68px; }

.pin-g {
  background-position: -336px -34px; }

.pin-g.on {
  background-position: -336px 0px; }

.pin-g.hover {
  background-position: -336px -102px; }

.pin-g.on.hover {
  background-position: -336px -68px; }

.pin-h {
  background-position: -357px -34px; }

.pin-h.on {
  background-position: -357px 0px; }

.pin-h.hover {
  background-position: -357px -102px; }

.pin-h.on.hover {
  background-position: -357px -68px; }

.pin-i {
  background-position: -378px -34px; }

.pin-i.on {
  background-position: -378px 0px; }

.pin-i.hover {
  background-position: -378px -102px; }

.pin-i.on.hover {
  background-position: -378px -68px; }

.pin-j {
  background-position: -399px -34px; }

.pin-j.on {
  background-position: -399px 0px; }

.pin-j.hover {
  background-position: -399px -102px; }

.pin-j.on.hover {
  background-position: -399px -68px; }

.pin-k {
  background-position: -420px -34px; }

.pin-k.on {
  background-position: -420px 0px; }

.pin-k.hover {
  background-position: -420px -102px; }

.pin-k.on.hover {
  background-position: -420px -68px; }

.pin-l {
  background-position: -441px -34px; }

.pin-l.on {
  background-position: -441px 0px; }

.pin-l.hover {
  background-position: -441px -102px; }

.pin-l.on.hover {
  background-position: -441px -68px; }

.pin-m {
  background-position: -462px -34px; }

.pin-m.on {
  background-position: -462px 0px; }

.pin-m.hover {
  background-position: -462px -102px; }

.pin-m.on.hover {
  background-position: -462px -68px; }

.pin-n {
  background-position: -483px -34px; }

.pin-n.on {
  background-position: -483px 0px; }

.pin-n.hover {
  background-position: -483px -102px; }

.pin-n.on.hover {
  background-position: -483px -68px; }

.pin-o {
  background-position: -504px -34px; }

.pin-o.on {
  background-position: -504px 0px; }

.pin-o.hover {
  background-position: -504px -102px; }

.pin-o.on.hover {
  background-position: -504px -68px; }

.pin-p {
  background-position: -525px -34px; }

.pin-p.on {
  background-position: -525px 0px; }

.pin-p.hover {
  background-position: -525px -102px; }

.pin-p.on.hover {
  background-position: -525px -68px; }

.pin-q {
  background-position: -546px -34px; }

.pin-q.on {
  background-position: -546px 0px; }

.pin-q.hover {
  background-position: -546px -102px; }

.pin-q.on.hover {
  background-position: -546px -68px; }

.pin-r {
  background-position: -567px -34px; }

.pin-r.on {
  background-position: -567px 0px; }

.pin-r.hover {
  background-position: -567px -102px; }

.pin-r.on.hover {
  background-position: -567px -68px; }

.pin-s {
  background-position: -588px -34px; }

.pin-s.on {
  background-position: -588px 0px; }

.pin-s.hover {
  background-position: -588px -102px; }

.pin-s.on.hover {
  background-position: -588px -68px; }

.pin-t {
  background-position: -609px -34px; }

.pin-t.on {
  background-position: -609px 0px; }

.pin-t.hover {
  background-position: -609px -102px; }

.pin-t.on.hover {
  background-position: -609px -68px; }

.pin-u {
  background-position: -630px -34px; }

.pin-u.on {
  background-position: -630px 0px; }

.pin-u.hover {
  background-position: -630px -102px; }

.pin-u.on.hover {
  background-position: -630px -68px; }

.pin-v {
  background-position: -651px -34px; }

.pin-v.on {
  background-position: -651px 0px; }

.pin-v.hover {
  background-position: -651px -102px; }

.pin-v.on.hover {
  background-position: -651px -68px; }

.pin-w {
  background-position: -672px -34px; }

.pin-w.on {
  background-position: -672px 0px; }

.pin-w.hover {
  background-position: -672px -102px; }

.pin-w.on.hover {
  background-position: -672px -68px; }

.pin-x {
  background-position: -693px -34px; }

.pin-x.on {
  background-position: -693px 0px; }

.pin-x.hover {
  background-position: -693px -102px; }

.pin-x.on.hover {
  background-position: -693px -68px; }

.pin-y {
  background-position: -714px -34px; }

.pin-y.on {
  background-position: -714px 0px; }

.pin-y.hover {
  background-position: -714px -102px; }

.pin-y.on.hover {
  background-position: -714px -68px; }

.pin-z {
  background-position: -735px -34px; }

.pin-z.on {
  background-position: -735px 0px; }

.pin-z.hover {
  background-position: -735px -102px; }

.pin-z.on.hover {
  background-position: -735px -68px; }

.pin {
  background-position: -756px -34px; }

.pin.on {
  background-position: -756px 0px; }

.pin.hover {
  background-position: -756px -102px; }

.pin.on.hover {
  background-position: -756px -68px; }

.ptn, .pvn, .pan {
  padding-top: 0 !important; }

.pts, .pvs, .pas {
  padding-top: 5px !important; }

.ptm, .pvm, .pam {
  padding-top: 10px !important; }

.ptl, .pvl, .pal {
  padding-top: 20px !important; }

.prn, .phn, .pan {
  padding-right: 0 !important; }

.prs, .phs, .pas {
  padding-right: 5px !important; }

.prm, .phm, .pam {
  padding-right: 10px !important; }

.prl, .phl, .pal {
  padding-right: 20px !important; }

.pbn, .pvn, .pan {
  padding-bottom: 0 !important; }

.pbs, .pvs, .pas {
  padding-bottom: 5px !important; }

.pbm, .pvm, .pam {
  padding-bottom: 10px !important; }

.pbl, .pvl, .pal {
  padding-bottom: 20px !important; }

.pln, .phn, .pan {
  padding-left: 0 !important; }

.pls, .phs, .pas {
  padding-left: 5px !important; }

.plm, .phm, .pam {
  padding-left: 10px !important; }

.pll, .phl, .pal {
  padding-left: 20px !important; }

.mtn, .mvn, .man {
  margin-top: 0 !important; }

.mts, .mvs, .mas {
  margin-top: 5px !important; }

.mtm, .mvm, .mam {
  margin-top: 10px !important; }

.mtl, .mvl, .mal {
  margin-top: 20px !important; }

.mrn, .mhn, .man {
  margin-right: 0 !important; }

.mrs, .mhs, .mas {
  margin-right: 5px !important; }

.mrm, .mhm, .mam {
  margin-right: 10px !important; }

.mrl, .mhl, .mal {
  margin-right: 20px !important; }

.mbn, .mvn, .man {
  margin-bottom: 0 !important; }

.mbs, .mvs, .mas {
  margin-bottom: 5px !important; }

.mbm, .mvm, .mam {
  margin-bottom: 10px !important; }

.mbl, .mvl, .mal {
  margin-bottom: 20px !important; }

.mln, .mhn, .man {
  margin-left: 0 !important; }

.mls, .mhs, .mas {
  margin-left: 5px !important; }

.mlm, .mhm, .mam {
  margin-left: 10px !important; }

.mll, .mhl, .mal {
  margin-left: 20px !important; }

#slider-wrapper .nivo-caption h3, .banner-static .banner_caption h3 {
  font-family: Verdana, Geneva, sans-serif !important;
  padding-bottom: 5px !important; }

.banner-static .banner_caption h3 {
  font-size: 100% !important; }

.banner-data {
  display: none; }

/*

.doc_index {
    width:60.909em;
    float:left;
    display:block;
    margin-bottom:1.818em;
    padding:0;
    list-style:none
}

.doc_index li {
    width:60em;
    float:left;
    display:block;
    border-bottom:1px dotted #4d4d4d
}

.doc_col:hover,.doc_col:active,.doc_col:focus {
    background:#f3f0ea;
    border-bottom:1px dotted #4d4d4d
}

.doc_col a,.doc_col a:hover {
    float:left;
    display:block;
    border:none!important;
    text-decoration:none!important
}

.rdoc {
    float:left;
    display:block;
    padding:.455em 0 .455em .909em;
    text-align:left;
    color:#333;
    font:normal 1em Verdana,Geneva,sans-serif
}

.rdoc_name {
    float:left;
    text-align:left
}

.doc_index {
    width:660px
}

.left .doc_index {
    padding:0;
    margin-bottom:18px
}

.doc_index .doc_col {
    width:660px
}

*/
.doc_index {
  width: 100%; }
  .doc_index .doc_col {
    width: 100%; }

.middle .doc_index, .right .doc_index {
  padding: 0;
  margin-bottom: 18px; }

.doc_col:hover, .doc_col:active, .doc_col:focus {
  background: #ebe5d9; }

.homepagequicklinks li {
  font-size: 80%; }
  .homepagequicklinks li:last-child a {
    padding-right: 0; }

hr {
  margin: 20px 0;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 1px 0 0; }

.col-1 #content .left .blog-feed h3 {
  margin: 5px 0;
  color: #767676;
  font-style: italic; }

figure {
  margin: 0;
  padding: 0; }
  figure figcaption {
    margin: 0;
    padding: 0; }
    figure figcaption p {
      margin: 5px 0 0;
      text-align: center; }
  figure img {
    vertical-align: bottom;
    margin: 0;
    padding: 0; }

.outline {
  border: 1px solid #c1c1c1; }

/* Backwards Compatibility */
.left-tiny-gutter, p.pinfloat {
  margin-right: 5px; }

.left-header th {
  text-align: left; }

.left-header td {
  padding-left: 20px; }

.infoWindow {
  width: 176px;
  margin: 0;
  padding: 0; }

.sjsumap {
  height: 520px;
  background-color: #e1dad0; }

.sjsumap .loadmsg {
  text-align: center;
  line-height: 2;
  font-size: 200%; }

.highlight-frame {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  background-color: #e8f6fd;
  border: solid 1px #0f6fa2;
  padding: 20px 20px 5px 20px;
  margin: 0 0 20px 0; }

/*# sourceMappingURL=coss.css.map */
