#slider-wrapper .nivo-caption h3, .banner-static .banner_caption h3 {
    font-family:Verdana,Geneva,sans-serif!important;
    padding-bottom: 5px!important;
}

.banner-static .banner_caption h3 {
    font-size:100%!important;
}

.banner-data {
    display: none;
}

