$black: #000;
$white: #fff;
$blue: #005a8b;
$gold: #c79900;
$gray: #c1c1c1;
$light-gray: #e5e5e5;
$medium-gray: #767676;
$dark-gray: #4d4d4d;

$spartan-blue: #0055a2;
$spartan-gold: #e5a823;
$spartan-gray: #939597;

$spartan-light-blue: lighten($spartan-blue, 20%);

$proud-blue: #0f6fa2;
$proud-gold: #edab23;
$proud-slate: #686869;
$proud-gray: #a8aaad;
$proud-warm-gray: #6d6756;
$proud-cobalt: #5d6c8c;
$proud-green: #716c2f;
$proud-brown: #926d29;
$proud-crimson: #ba4532;
$proud-sky-blue: #85b7e2;
$proud-arctic-blue: #dde8f7;
$proud-beige: #e1dad0;
$proud-cream: #ebe5d9;
