
#expertiseMenu .dependents {
    font-size: 87.5%;
}

.expertiseResponse {
    padding-top: $medium;
    border-bottom-style: dotted;
    border-bottom-width: 1px;

 /* 
    &.less {
        & .expertiseResponseExpertise, & .less {
            display: none;
        }
        .more {
            display: inline;
        }
    }

    .more {
        display: none;
    }
*/

    .highlight {
        color: $blue;
        font-family: $serif;
        font-weight: bold;
    }

    a:link, a:visited {
        color: $black;
        text-decoration: none;
    }

    a:active, a:hover {
        color: $blue;
        text-decoration: underline;
    }
}

.expertiseResponseExpertise,
.expertiseHelp,
#expertiseResponsesSummary {
    margin: $medium 0;
    font-size: 87.5%;

    p {
        margin: $small 0;
    }

    ul {
        list-style-type: square;
    }
}

.expertiseResponseExpertise,
#expertiseResponsesSummary {
    ul {
        margin: 0 0 0 $large;
    }
}

.expertiseHelp,
#expertiseResponsesSummary {
    @include border-radius(15px);
}

.expertiseHelp {
    padding: $large;
    background-color: $blue;
    color: $white;

    p, h2, h3, h4 {
        color: $white;
    }

    ul {
        margin: 0;
    }
}

#expertiseResponsesSummary {
    padding: $medium $large;
    background-color: $light-blue;
    color: $blue;
    border-style: solid;
    border-width: 1px;
    border-color: $blue;

    p, h2, h3, h4 {
        color: $blue;
    }
}
