.ptn, .pvn, .pan { padding-top: 0 !important; }
.pts, .pvs, .pas { padding-top: $small !important; }
.ptm, .pvm, .pam { padding-top: $medium !important; }
.ptl, .pvl, .pal { padding-top: $large !important; }
.prn, .phn, .pan { padding-right: 0 !important; }
.prs, .phs, .pas { padding-right: $small !important; }
.prm, .phm, .pam { padding-right: $medium !important; }
.prl, .phl, .pal { padding-right: $large !important; }
.pbn, .pvn, .pan { padding-bottom: 0 !important; }
.pbs, .pvs, .pas { padding-bottom: $small !important; }
.pbm, .pvm, .pam { padding-bottom: $medium !important; }
.pbl, .pvl, .pal { padding-bottom: $large !important; }
.pln, .phn, .pan { padding-left: 0 !important; }
.pls, .phs, .pas { padding-left: $small !important; }
.plm, .phm, .pam { padding-left: $medium !important; }
.pll, .phl, .pal { padding-left: $large !important; }
.mtn, .mvn, .man { margin-top: 0 !important; }
.mts, .mvs, .mas { margin-top: $small !important; }
.mtm, .mvm, .mam { margin-top: $medium !important; }
.mtl, .mvl, .mal { margin-top: $large !important; }
.mrn, .mhn, .man { margin-right: 0 !important; }
.mrs, .mhs, .mas { margin-right: $small !important; }
.mrm, .mhm, .mam { margin-right: $medium !important; }
.mrl, .mhl, .mal { margin-right: $large !important; }
.mbn, .mvn, .man { margin-bottom: 0 !important; }
.mbs, .mvs, .mas { margin-bottom: $small !important; }
.mbm, .mvm, .mam { margin-bottom: $medium !important; }
.mbl, .mvl, .mal { margin-bottom: $large !important; }
.mln, .mhn, .man { margin-left: 0 !important; }
.mls, .mhs, .mas { margin-left: $small !important; }
.mlm, .mhm, .mam { margin-left: $medium !important; }
.mll, .mhl, .mal { margin-left: $large !important; }
